/*auto*/

.monospace { font-family: Menlo, Consolas, monospace; }

/* html,body { overflow: hidden; margin: 0; padding: 0; color: #303030; height: 100%; } */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.ml10 { margin-left: 10px; }
.ml5 { margin-left: 5px; }
.left { text-align: left; }
.auto { width: 100%; margin: 0 auto; }
.inline { position: relative; display: inline-block; }

/* .appmenu { width: 65px; border-right: 1px solid #E0E0E0; float: left; padding: 5px 0 0; background-color: #FFF; color: #777; }
.appmenu .exec, .appmenu a { height: 34px; width: 34px; font-size: 18px; line-height: 34px; text-align: center; margin: 11px 15px 0 15px; cursor: pointer; border-radius: var(--radius); display: block; color: #888; }
.appmenu .selected, .appmenu .exec:hover, .appmenu a:hover { background-color: #F0F0F0; color: #000; }
.appmenu hr { margin: 15px 10px; }
.appmain { margin-left: 5px; margin-right: 5px; } */

.appmenu { border-right: 1px solid #E0E0E0; float: left; padding: 5px 0 0; background-color: #FFF; color: #777; }
.appmenu a { height: 34px; width: 34px; font-size: 18px; line-height: 34px; text-align: center; margin: 5 0 0 0; cursor: pointer; border-radius: var(--radius); display: block; color: #888; }
.appmenu a:hover { background-color: #F0F0F0; color: #000; }
.appmain { margin-left: 5px; margin-right: 5px; padding-bottom: 60px; overflow-y: auto;}


header { height: 60px; padding: 0 10px 10px 0; border-bottom: 1px solid #E0E0E0; text-align: right; }
header .back { float: left; margin: 12px 0 0 20px; height: 34px; line-height: 32px; width: 34px; border: 1px solid #E0E0E0; text-align: center; cursor: pointer; color: #000; background-color: #F8F8F8; border-radius: var(--radius); font-weight: bold; }
header .back:hover { background-color: #F0F0F0; }
header label { float: left; line-height: 59px; font-weight: bold; margin-left: 20px; font-size: 15px; }
header label i { margin: 0 10px 0 0; color: var(--color); }
header .toolbar { float: right; margin: 15px 10px 0 0; }
header .toolbar button { height: 30px; font-size: 12px; }

.mainmenu { height: 34px; width: 34px; font-size: 18px; line-height: 34px; text-align: center; margin: 8px 0 12px 15px !important; cursor: pointer; background-color: #F0F0F0; border-radius: var(--radius); color: #000 !important; }
.mainmenu:hover { background-color: #F5F5F5; }

.button { border: 0; margin: 0; background-color: #E7E7E7; height: 40px; padding: 0 20px; color: #000; cursor: pointer; font-family: Arial; line-height: 34px; vertical-align: middle; outline: 0; font-size: 14px; text-decoration: none; transition: all 0.3s; width: 100%; }
.button i { width: 15px; text-align: center; margin-right: 5px; }
.button:hover { opacity: 0.8; }
.button[name='submit'] { font-weight: bold; background-color: var(--color); color: #FFF; }
.button:disabled { background-color: #F5F5F5 !important; border-color: #E0E0E0 !important; color: #A0A0A0 !important; cursor: not-allowed; box-shadow: none; }
.button:disabled i { color: #A0A0A0 !important; }
.button:first-child { border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius); }
.button:last-child { border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius); }
.button.small { height: 24px; padding: 0 8px; line-height: 14px; font-size: 12px; }

.panel .padding { padding: var(--gap); }

.divider { position: relative; margin: 25px 0; }
.divider div { position: absolute; left: 0; top: -10px; right: 0; text-align: center; }
.divider span { background-color: #F0F0F0; border-radius: var(--radius); padding: 5px 8px; font-size: 11px; color: #999; }
.divider span i { margin-right: 5px; }

.ui-searchinput { border-radius: var(--radius); }

footer {position: fixed; bottom: 0; left: 0; width: 100%; background-color: #fff; border-top: 1px solid #E0E0E0; padding: 10px 0 14px 0; display: flex; justify-content: center; align-items: center; z-index: 1000;}

/*j-listform*/
.ui-listform-invalid .ui-listform-items { border-color: red; }
.ui-listform-container { border: 1px solid #E0E0E0; border-radius: var(--radius); }
.ui-listform-items .ui-listform-item:first-child { border-top-left-radius: var(--radius); border-top-right-radius: var(--radius); }
.ui-listform-items .ui-listform-item:last-child { border-bottom-left-radius: var(--radius); border-bottom-right-radius: var(--radius); }
.ui-listform-form-container { background-color: #F8F8F8; padding: 15px; }
.ui-listform-form { border-radius: var(--radius); border: 1px solid #E0E0E0; background-color: #FFF; }
.ui-listform-emptylabel { text-align: center; display: none; padding: 15px; font-size: 12px; color: gray; }
.ui-listform-empty .ui-listform-emptylabel { display: block; }
.ui-listform-item { border-bottom: 1px solid #E0E0E0; cursor: pointer; }
.ui-listform-selected { font-weight: bold; background-color: #F8F8F8; }
.ui-listform-item:last-child { border-bottom: 0; }
.ui-disabled .ui-listform-item { cursor: not-allowed; color: gray; }
.ui-listform-new button[name='remove'] { display: none; }
.ui-listform-item-highlight { background-color: rgba(0,0,0,0.1); }

.ui-dark .ui-listform-container { border-color: #404040; }
.ui-dark .ui-listform-form-container { background-color: #282828; }
.ui-dark .ui-listform-form { border-color: #404040; background-color: #232323; }
.ui-dark .ui-listform-item { border-bottom-color: #404040; }
.ui-dark .ui-listform-selected { background-color: #282828; }
.ui-dark .ui-disabled .ui-listform-item { color: #777; }
.ui-dark .ui-listform-emptylabel { color: #777; }
.ui-dark .ui-listform-item-highlight { background-color: rgba(255,255,255,0.1); }

/*j-table*/
.ui-table-border > table { border: 1px solid #E0E0E0; }
.ui-table-border .ui-table-head > thead > tr > th, .ui-table-border .ui-table-tbody > tr > td { border-left: 1px solid #E0E0E0; border-right: 1px solid #E0E0E0; padding-left: 8px; padding-right: 8px; }
.ui-table-border .ui-table-head > thead > tr > th:first-child, .ui-table-border .ui-table-tbody > tr > td:first-child { border-left: 0 !important; }
.ui-table-flat .ui-table-head > thead > tr > th, .ui-table-flat .ui-table-tbody > tr > td { padding-left: 0; padding-right: 0; }
.ui-table-table, .ui-table-head { width: 100%; margin: 0; padding: 0; font-size: 13px; table-layout: fixed; }
.ui-table-head { border-bottom: 0; background-color: #FFF; }
.ui-table-border .ui-table-headcontainer { border: 1px solid #E0E0E0; border-bottom: 0; border-right: 0; }
.ui-table-border .ui-table-headcontainer.ui-table-scrollbar { border-right: 1px solid #E0E0E0; }
.ui-table-scrollbar { padding-right: 4px; background-color: #F0F0F0; }
.ui-table-border .ui-table-scrollbar .ui-table-head { border-right: 1px solid #E0E0E0; }
.ui-table-head th { padding: 8px 4px; }
.ui-table-head .sort { cursor: pointer; user-select: none; }
.ui-table-head .sort i { text-align: left; color: #4783EE; }
.ui-table-head .sort .ti-long-arrow-up, .ui-table-head .sort .ti-long-arrow-down { width: 12px; margin-right: 3px; }
.ui-table-head .sort .ti-sort { color: black; }
.ui-table-nohead, .ui-table-nohead tr, .ui-table-nohead th { height: 0 !important; overflow: hidden !important; padding: 0 !important; margin: 0 !important; border-bottom: 0; }
.ui-table-tbody > tr { border-bottom: 1px solid #E0E0E0; }
.ui-table-tbody > tr > td { padding: 5px 4px; }
.ui-table-tbody button { width: 28px; background-color: transparent; border: 0; border-left: 1px solid #E0E0E0; border-radius: 0; color: #777; font-size: 12px; }
.ui-table-tbody button:hover { color: #000; }
.ui-table-tbody button:disabled, .ui-table-tbody button:disabled i { color: #B0B0B0 !important; cursor: not-allowed; }
.ui-table-tbody button:first-child { border-left: 0; }
.ui-table-selectable .ui-table-tbody tr { cursor: pointer; }
.ui-table-selectable .ui-table-tbody tr:hover { background-color: rgba(100,100,100,.05); }
.ui-table-selected { background-color: rgba(253,255,191,.41) !important; }
.ui-table-detailed .ui-table-selected { border-bottom-color: transparent; }
.ui-table-detail { background-color: transparent !important; cursor: inherit !important; }
/* .ui-table-detail td { padding: 20px 4px !important; } */
.ui-table-detail tr {
	width: 100%;
	display: table;
	table-layout: fixed;
	border-bottom: 1px solid;
	border-bottom-color: transparent;
}

.ui-table-detail td:first-child {
	width: 60%;
	text-align: left;
}

/* .ui-table-detail td.right {
	width: 1px;
	white-space: nowrap;
	text-align: right;
} */
.ui-table-empty { font-size: 12px; color: gray; padding: 30px 0; text-align: center; background-color: #F8F8F8; }
.ui-table-empty i { margin-right: 5px; }
.ui-table-border > .ui-table-container { border-left: 1px solid #E0E0E0; border-top: 1px solid #E0E0E0; }
.ui-table-border.ui-table-isempty .ui-table-container { border: 1px solid #E0E0E0; }
.ui-table-footer { border: 1px solid #E0E0E0; border-top: 0; height: 32px; }
.ui-table-pagination { float: left; }
.ui-table-pagination button { background-color: #FFF; border: 0; border-left: 1px solid #E0E0E0; height: 31px; width: 40px; color: black; font-size: 12px; text-align: center; outline: 0; }
.ui-table-pagination button:hover { background-color: #F0F0F0; }
.ui-table-pagination button:disabled { background-color: #F9F9F9; color: #A0A0A0; }
.ui-table-pagination button:first-child { border-left: 0; }
.ui-table-pagination button[name="page-prev"] { border-right: 1px solid #E0E0E0; width: 41px; }
.ui-table-pagination button[name="page-last"] { border-right: 1px solid #E0E0E0; }
.ui-table-pagination input { width: 40px; text-align: center; border: 0; outline: 0; font-size: 12px; padding: 0; margin: 0; background-color: transparent; }
.ui-table-pagination > div { position: relative; display: inline-block; }
.ui-table-pagination-items { float: right; font-size: 12px; margin: 7px 10px 0 0; font-weight: bold; }
.ui-table-pagination-pages { float: left; font-size: 12px; margin: 7px 0 0 10px; }
.noborder .ui-table-headcontainer { border: 0; }
.noborder .ui-table-container { border-left: 0; border-right: 0; border-bottom: 0; }
.noborder .ui-table-headcontainer.ui-table-scrollbar { border-right: 0; }

.ui-dark .ui-table-border > .ui-table-container { border-color: #404040; }
.ui-dark .ui-table-border > .ui-table-headcontainer { border-color: #404040; }
.ui-dark .ui-table-head { color: #FFF; background-color: #202020; }
.ui-dark .ui-table-head .sort .ti-sort { color: #FFF; }
.ui-dark .ui-table-scrollbar { background-color: #333; }
.ui-dark .ui-table-footer { border-color: #404040; }
.ui-dark .ui-table-empty { background-color: #282828; }
.ui-dark .ui-table-border .ui-table-headcontainer thead > tr > th, .ui-dark .ui-table-border .ui-table-tbody > tr > td { border-left: 1px solid #404040; border-right: 1px solid #404040; }
.ui-dark .ui-table-thead th { padding: 8px 4px; border-bottom: 2px solid #404040; }
.ui-dark .ui-table-tbody > tr { border-bottom: 1px solid #404040; }
.ui-dark .ui-table-selectable .ui-table-tbody tr:hover { background-color: rgba(100,100,100,.2); }
.ui-dark .ui-table-selected { background-color: rgba(100,100,100,.3) !important; }
.ui-dark .ui-table-empty { border-top-color: #404040; border-bottom-color: #404040; }
.ui-dark .ui-table-pagination button { background-color: #303030; color: #A0A0A0; border-color: #404040; }
.ui-dark .ui-table-pagination button:hover { background-color: #404040; color: white; }
.ui-dark .ui-table-pagination button:first-child { border-left-color: #404040; }
.ui-dark .ui-table-pagination button[name="remove"] { background-color: #282828; color: red; }
.ui-dark .ui-table-pagination button:disabled { background-color: #252525 !important; color: #505050 !important; }
.ui-dark .ui-table-tbody button { border-left-color: #404040; color: #999; }
.ui-dark .ui-table-tbody button:hover { color: #FFF; }
.ui-dark .ui-table-tbody button:disabled, .ui-dark .ui-table-tbody button:disabled i { color: #303030 !important; }